azure-functions
requests
lxml
psycopg2-binary
azure-storage-blob

streamlit==1.31.0
requests==2.31.0
pandas==2.2.0
plotly>=5.20.0,<6


fastapi==0.115.0
uvicorn[standard]==0.32.0
psycopg2-binary==2.9.10
python-dotenv==1.0.1
pydantic==2.10.3
pydantic-settings==2.6.1
alembic==1.14.0
sqlalchemy==2.0.36
gunicorn==21.2.0
