# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions
# More info on Python, GitHub Actions, and Azure App Service: https://aka.ms/python-webapps-actions

name: Build and deploy API to Azure Web App - app-projeto-b3

on:
  push:
    branches:
      - main
    paths:
      - 'api-backend/**'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Required for requesting the JWT
      contents: read # Required for actions/checkout

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_19D0E48544204DA8918C2834B4B8BAD7 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_7BB564FC46A4448D9F4F36CDC7A89556 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_14439C8B73744A82AFA41886514B6648 }}

      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'app-projeto-b3'
          package: './api-backend' # <-- Envia APENAS a pasta da API
          startup-command: 'alembic upgrade head && gunicorn -k uvicorn.workers.UvicornWorker app.main:app'
